# Objectives

## tuples
## sets
## dictionaries
## modules & packages
## files
## data science
    ~ numpy
    ~ pandas
    ~ matplot
    ~ seaborn

### List comprehension

In [3]:
# Even numbers
list1=[i for i in range(1,20) if(i%2==0)]
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
li=[]
for i in range(1,20):
    if(i%2==0):
        li.append(i)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
# Odd numbers
list2=[i for i in range(1,20) if(i%2==1)]
list2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
# Prime numbers
def isprime(n):
    c=0
    for i in range(1,n+1):
        if(n%i==0):
            c=c+1
    if(c==2):
        return True

In [7]:
prime_list=[i for i in range(1,50) if(isprime(i))]
prime_list

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [8]:
# # Leap year
# Any year which is divisible by 4 and not by 100 are leap years. Otherwise, 
# any year which is divisible by 400 is also a leap year.


n=2020

if(n%4==0 and n%100!=0):
    print('leap year')
elif(n%400==0):
    print('leap year')
else:
    print('not a leap year')

leap year

In [9]:
def is_leap(n):
    if(n%4==0 and n%100!=0):
        return True
    elif(n%400==0):
        return True
    
leap_list=[leap for leap in range(2000,2050) if(is_leap(leap))]
leap_list

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048]

## Tuple

In [12]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
tup_prime=tuple(prime_list)
tup_prime

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)

In [14]:
tup_prime.count(3)

1

In [16]:
tup_prime.index(17)

6

### conversions

    list to tuple             possible
    tuple to list             possible
    tuple to set              possible
    set to tuple              possible
    tuple to dictionary       not possible
    dictionary to tuple       not possible

# Sets

## dir(set)
add','clear','copy','difference','difference_update','discard','intersection',
'intersection_update','isdisjoint','issubset','issuperset','pop','remove','symmetric_difference',
'symmetric_difference_update','union','update'

In [24]:
st_prime=set(tup_prime)
print(st_prime)

{2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

In [25]:
st_prime.update()
st_prime

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47}

In [39]:
st={1,2,3,4}
s={4,5,6,7,8}
a={2,1}
print('union is : ',st.union(s))
print('intersection is : ',st.intersection(s))
print('is subset ? : ',a.issubset(st))
s.update?

union is :  {1, 2, 3, 4, 5, 6, 7, 8}
intersection is :  {4}
is subset ? :  True

In [40]:
sum(s)

30

In [51]:
data='654564489'
data=tuple(data)
data=tuple(map(int,data))
data

(6, 5, 4, 5, 6, 4, 4, 8, 9)

In [52]:
data=tuple(map(str,tuple(input())))
print(data)
data_ori=[]
for value in data:
    if(value not in data_ori):
        data_ori.append(value)
data_ori=tuple(data_ori)
for value in data_ori:
    print(value,"--->",data.count(value))

545615
('5', '4', '5', '6', '1', '5')
5 ---> 3
4 ---> 1
6 ---> 1
1 ---> 1

In [58]:
# set() doesnt have duplicate values
l1=[1,2,3,5,4,2,5,5,5,45,5,9,25,45,4,]
l2=set(l1)
print('set : ',l2)
l3=tuple(l1)
print('tuple :',l3)

set :  {1, 2, 3, 4, 5, 9, 45, 25}
tuple : (1, 2, 3, 5, 4, 2, 5, 5, 5, 45, 5, 9, 25, 45, 4)

# dictionary

### stored as (key,value) pairs

dir(dict)

    clear',
     'copy',
     'fromkeys',
     'get',
     'items',
     'keys',
     'pop',
     'popitem',
     'setdefault',
     'update',
     'values

In [60]:
data={'1':'vijat','2':'sahara'}
data

{'1': 'vijat', '2': 'sahara'}

In [72]:
a=data.fromkeys([1,2])
print(a)

print(data.get('1'))

print(data.items())

{1: None, 2: None}
vijat
dict_items([('1', 'vijat'), ('2', 'sahara')])
<built-in method keys of dict object at 0x000001D8D0F875A0>

In [79]:
for key,value in data.items():
    print(key,'--->',value)
    
print(data.keys())
print(data.values())
# data.popitem() last data is removed

1 ---> vijat
2 ---> sahara
dict_keys(['1', '2'])
dict_values(['vijat', 'sahara'])

# contact information

### store
    name
    number
    --> rules:
        name already exists
### display
    name
    number
    --> rules:
        number not exists
        
### search
    name
    number
    --> rules:
        number not exists
        
### delete
    name
    --> rules:
        number not exists

In [2]:
contact_application={}
def store(name,number):
    if (name not in contact_application):
        contact_application.setdefault(name,number)
        print("contact saved!")
    else:
        print('Name already exists in contacts')
        
        
def display():
    if(len(contact_application)!=0):
        for i,j in contact_application.items():
            print(i,j)
    else:
        print("empty contacts")

        
def delete(name):
    if(name not in contact_application.keys()):
        print("name not found!")
    else:
        contact_application.pop(name)
        print('contact deleted.')
        
        
def search(name):
    if(name not in contact_application.keys()):
        print(name,"contact exists")
    else:
        print(name,'contact doesnt exists')

In [3]:
store('sad',5684)
store('sai',5454)
store('say',5244)
store('dec',4784)
print(contact_application)
display()
search('sai')
delete('sai')

contact saved!
contact saved!
contact saved!
contact saved!
{'sad': 5684, 'sai': 5454, 'say': 5244, 'dec': 4784}
sad 5684
sai 5454
say 5244
dec 4784
sai contact doesnt exists
contact deleted.

In [4]:
import random
print(random.randrange(0,50))

33

    1 --> 
    2 -->
    3 -->
    4 -->
    5 -->

In [6]:
while True:
    n=int(input('choose options\n1.store\n2.delete\n3.search\n4.display\n5.exit'))
    if n==1:
        name=input('enter name')
        number=input('enter mobile number')
        store(name,number)
    elif n==2:
        name=input('enter name')
        delete(name)
    elif n==3:
        name=input('enter name')
        search(name)
    elif n==4:
        display()
    elif n==5:
        break
    else:
        print('enter valid function')

choose options
1.store
2.delete
3.search
4.display
5.exit5

# Modules & Packages

### Modules 
    python files
### Packages
    function defination

In [2]:
import mypackage
print(mypackage.addition(5,6))
print(mypackage.subtraction(5,6))
print(mypackage.multiplication(5,6))
print(mypackage.division(5,6))
print(mypackage.mod_division(5,6))
print(mypackage.float_division(5,6))

11
-1
30
0.8333333333333334
5
0

In [5]:
import mypackage as mp
print(mp.addition(5,2))
print(mp.subtraction(5,2))
print(mp.multiplication(5,2))
print(mp.mod_division(5,2))
print(mp.division(5,2))
print(mp.float_division(5,2))

7
3
10
1
2.5
2

In [7]:
from mypackage import *
print(addition(5,6))
print(subtraction(5,6))
print(multiplication(5,6))
print(division(5,6))
print(mod_division(5,6))
print(float_division(5,6))

11
-1
30
0.8333333333333334
5
0

In [8]:
from mypackage import addition as add
add(8,6)

14

In [12]:
import contacts as c

#from contacts import search,store,display,delete
#from contacts import *
#from clg.clss.cse as cs

c.store('sad',5684)
c.store('sai',5454)
c.store('say',5244)
c.store('dec',4784)
print(c.contact_application)
c.display()
c.search('sai')
c.delete('sai')

Name already exists in contacts
contact saved!
Name already exists in contacts
Name already exists in contacts
{'sad': 5684, 'say': 5244, 'dec': 4784, 'sai': 5454}
sad 5684
say 5244
dec 4784
sai 5454
sai contact doesnt exists
contact deleted.

### math

    'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign',
    'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 
    'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 
    'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 
    'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 
    'tanh', 'tau', 'trunc'

In [4]:
import math as m
print(m.pow(5,2))

25.0